<!DOCTYPE html>
<html>

<head>
    <% include partials/header %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <% include partials/menu %>
                <h1>
                    <%= title %> Events</h1>
            </div>
        </div>
        <div class="events">
            <div class="row upcoming">
                <% events.forEach(event => { %>
                <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <!-- <div class="row"> -->
                    <div class="grid-image col-sm-12">
                        <img class="card-img-top" src="<%= event.imageurl %>" />
                    </div>
                    <!-- </div> -->
                    <div class="card-body">
                        <div class="ip-details">
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-sm-12">
                                    <img class="card-img-top" src="<%= event.imageurl %>" />
                                </div>
                                <div class="col-xl-6 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-auto-x mr-auto name">
                                            <%= event.name %>
                                        </div>
                                        <div class="col-auto-x date">
                                            Start date:
                                            <%= new Date(event.startDate).toISOString().split('T')[0] %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="card-text">
                                            <%= event.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>
    </div>
    <script>
        $(function () {
            $(".events").inlinePopup({
                itemSelector: ".article",
                closeinnerelem: "X",
                activeFirst: false
            })
        });
    </script>
</body>

</html>