<!DOCTYPE html>
<html>

<head>
    <% include partials/header %>

</head>

<body>
    <% include partials/menu %>
    <% include partials/top-grid %>

    <div class="container bg-light">
        <div class="row">&nbsp;</div>
        <div class="events">
            <div class="row upcoming">
                <h4 class="col-md-12">What's happening...</h4>
                <% if(eventToday.isEventToday) { %>
                <div class="main-header col-xl-3 col-lg-3 col-md-6 col-sm-12 d-none d-md-block ">
                    <h5 class="today-header">Today</h5>
                </div>
                <div class="main-header col-xl-9 col-lg-9 col-md-6 col-sm-12 d-none d-md-block ">
                    <h5 class="next-header">Next...</h5>
                </div>
                <% } else { %>
                <div class="main-header col-xl-12 col-lg-12 col-md-12 col-sm-12 d-none d-md-block ">
                    <h5 class="next-header">Next...</h5>
                </div>
                <% } %>
            </div>
            <div class="row upcoming upcoming">
                <% if(eventToday.isEventToday) { %>
                <h5 class="today-header d-md-none" style="width:100%;margin:10px;">Today</h5>
                <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="today-body grid-image col-sm-12 progressive">
                        <img class="card-img-top" src="<%= eventToday.imageurl %>" />
                        <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= eventToday.imageurl %>" src="<%= eventToday.lowimageurl %>"> -->
                        <% include partials/moreSymbol5 %>
                    </div>
                    <div class="card-body">
                        <div class="ip-details">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-12">
                                    <img class="card-img-top" src="<%= eventToday.imageurl %>" />
                                    <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= eventToday.imageurl %>" src="<%= eventToday.lowimageurl %>"> -->
                                </div>
                                <div class="col-xl-8 col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-auto-x mr-auto name">
                                            <%= eventToday.name %>
                                        </div>
                                        <div class="col-auto-x date">
                                            Start date:
                                            <!-- <%= new Date(eventToday.startDate).toISOString().split('T')[0] %> -->
                                            <%= new Date(eventToday.startDate).getDate()%>-<%= new Date(eventToday.startDate).getMonth()+1%>-<%= new Date(eventToday.startDate).getFullYear()%>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <p class="card-text">
                                            <%= eventToday.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <% futureEvents.forEach(event => { %>
                    <% if(!event.isPlaceholder && !futureEvents.labelApplied){ %>
                        <h5 class="next-header d-md-none" style="width:100%;margin:10px;">Next...</h5>
                        <% futureEvents.labelApplied = true %>
                    <% } %>
                <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <% if (event.isPlaceholder){ %>
                    <div class="grid-image col-sm-12 d-none d-md-block progressive">
                        <img class="card-img-top" src="<%= event.imageurl %>" style="opacity:0.4" />
                        <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= event.imageurl %>" src="<%= event.lowimageurl %>"> -->
                    </div>
                  <% } else { %>
                    <div class="grid-image col-sm-12 progressive">
                        <img class="card-img-top" src="<%= event.imageurl %>" />
                        <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= event.imageurl %>" src="<%= event.lowimageurl %>"> -->
                        <% include partials/moreSymbol5 %>
                    </div>
                <%  } %>
                    <% if (!event.isPlaceholder) { %>
                    <div class="card-body">
                        <div class="ip-details">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-12">
                                    <img class="card-img-top" src="<%= event.imageurl %>" />
                                    <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= event.imageurl %>" src="<%= event.lowimageurl %>"> -->
                                </div>
                                <div class="col-xl-8 col-md-8 col-sm-12">
                                    <div class="row">
                                        <div class="col-auto-x mr-auto name">
                                            <%= event.name %>
                                        </div>
                                        <div class="col-auto-x date">
                                            Start date:
                                            <!-- <%= new Date(event.startDate).toISOString().split('T')[0] %> -->
                                            <%= new Date(event.startDate).getDate()%>-<%= new Date(event.startDate).getMonth()+1%>-<%= new Date(event.startDate).getFullYear()%>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <p class="card-text">
                                            <%- event.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <br />
    <div class="container bg-light">
        <div class="row">&nbsp;</div>
        <div class="events">
            <div class="row upcoming past-events">
                <div class="main-header col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <h5 class="past-header">Past events</h5>
                </div>
                <% pastEvents.forEach(event => { %>
                <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="grid-image col-sm-12 progressive">
                        <img class="card-img-top" src="<%= event.imageurl %>" />
                        <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= event.imageurl %>" src="<%= event.lowimageurl %>"> -->
                        <% include partials/moreSymbol5 %>
                    </div>
                    <div class="card-body">
                        <div class="ip-details">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-12">
                                    <img class="card-img-top" src="<%= event.imageurl %>" />
                                    <!-- <img class="card-img-top progressive__img progressive--not-loaded" data-progressive="<%= event.imageurl %>" src="<%= event.lowimageurl %>"> -->
                                </div>
                                <div class="col-xl-8 col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-auto-x mr-auto name">
                                            <%= event.name %>
                                        </div>
                                        <div class="col-auto-x date">
                                            <!--  <%= new Date(event.startDate).toISOString().split('T')[0] %>
                                            <%= new Date(event.startDate).toISOString().split('T')[0] %>;
                                          -->
                                            <%= new Date(event.startDate).getDate()%>-<%= new Date(event.startDate).getMonth()+1%>-<%= new Date(event.startDate).getFullYear()%>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <p class="card-text">
                                            <%- event.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

    <% include partials/footer %>
    <% include partials/buttons/scroll %>

    <script>
        $(function () {
            $(".events").inlinePopup({
                itemSelector: ".article",
                closeinnerelem: "X",
                activeFirst: false
            });

            $('body').click(function () {

                if ($('.events .upcoming .article.active').length > 0) {
                    $('body').addClass('darken');
                }
                setTimeout(function () {
                    if ($('.events .upcoming .article.active').length == 0) {
                        $('body').removeClass('darken');
                    }
                }, 500);

            });
        });
    </script>
</body>

</html>
