<!DOCTYPE html>
<html>
<head>
  <% include partials/header %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="/stylesheets/grid-gallery.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<% include partials/menu %>

<div class="container cont-gal">

  <section class="gallery-block grid-gallery">
      <% if(renderType === 'album' ) { %>
        <!-- <div class="container bg-light "> -->
          <div class="row">&nbsp;</div>
          <div class="events">
              <div class="row upcoming">
                <% galleryOutput.forEach(album => { %>
                <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" data-row="1">
                  <!-- <div class="row"> -->
                  <div class="img-fluid scale-on-hover col-sm-12">
                    <a href="<%= galleryRoot %>/<%= album.url %>">
                        <div class="wrapper">
                          <img class="card-img-top"  src="<%= galleryRoot %>/<%= album.url %>?tn=1" alt="<%= album.name %>" /><br/>
                      </div>
                      <div class="gallery-img-name"><%= album.name %></div>
                    </a>
                  </div>
              </div>
              <% }) %>
            </div>
          </div>
        <!-- </div> -->
      <% } %>
      <% if(renderType === 'photo' ) { %>
          <% include partials/buttons/goBack %>
          <div class="row">
                  <% galleryOutput.forEach(photo => { %>
                    <div class="col-sm-3 item scale-on-hover">
                      <a class="lightbox" href="<%= galleryRoot %>/<%= photo.src %>">
                          <div class="wrapper">
                        <img class="img-fluid" src="<%= galleryRoot %>/<%= photo.src %>" alt="<%= photo.name %>">
                    </div>
                      </a>
                    </div>
                  <% }); %>
          </div>

      <% } %>

  </section>
      </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
  <script>
      baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
  </script>

    <% include partials/footer %>
    <% include partials/buttons/scroll %>
</body>
</html>
