<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>

  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <% if(renderType === 'photo' ) { %>
  <script src="/galleria/galleria-1.5.7.min.js"></script>
  <script type='text/javascript' src='/javascripts/page.js'></script>
  <% } %>
</head>

<body>
  <% include partials/menu %>

      <% if(renderType === 'empty' ) { %>
      <div class="not-found">
        Unable to load album or photos!
      </div>
      <% } %>

      <% if(renderType === 'album' ) { %>
        <div class="container">
          <div class="row">
      <h2>Albums</h2>
      <ul class="albums">
        <% galleryOutput.forEach(album => { %>
        <li class="thumb">
          <a href="<%= galleryRoot %>/<%= album.url %>">
            <figure>
              <img src="<%= galleryRoot %>/<%= album.url %>?tn=1" alt="<%= album.name %>" />
              <figcaption>
                <%= album.name %>
              </figcaption>
            </figure>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
      <% } %>

      <% if(renderType === 'photo' ) { %>
        <div class="container">
          <div class="row galleria">
        <% galleryOutput.forEach(photo => { %>
        <img src="<%= galleryRoot %>/<%= photo.src %>" alt="<%= photo.name %>">
        <% }); %>
      </div>
    </div>
      <% } %>

      <div class="container">
        <div class="row">
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </div>
</body>

</html>
