<!DOCTYPE html>
<html>
  <head>
<!--  <title><%= title %></title>-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <% include partials/header %>
  </header>
  <body>
    <h1><%= title %> Events</h1>
    <br/>
    <% events.forEach(event => { %>
      <hr/>
      <section>
        <h1><%= event.name %></h1>
        <div>
          Start date: <%= new Date(event.startDate).toISOString().split('T')[0] %><br/>
          End date: <%= new Date(event.endDate).toISOString().split('T')[0] %>
          <br/><br/>
          <%= event.description %>
      </section>
    <% }); %>
  </body>
</html>
